{% extends "layout.html" %}

{% block title %}
  {{title}}
{% endblock %}

{% block main %}


<form class="row g-3" action='/{{title}}/remove' method='post'>
  <ul class="list-group">
    {%for item in itens %}
    <li class="list-group-item">
      {% if delete is true %}
      <input class="form-check-input me-1" type="checkbox" name={{ item.id }} value="" id={{ item.id }}>
      {% endif %}
      <label class="form-check-label stretched-link" for={{ item.id }}>{{ item.category }}</label>
    </li>
    {% endfor %}
  </ul>
      {% if delete is true %}
  <div class="col-auto">
    <input class="form-check-input me-1" type="hidden" name="_method" value="remove">
    <button type="submit" class="btn btn-danger mb-3">Remove</button>
  </div>
      {% endif %}

</form>

<form class="row g-3" action='/{{title}}' method='post'>
  <div class="col-auto">
    <label for="insert_{{title}}" class="visually-hidden">{{title}}</label>
      {% if delete is true %}
      <input type="text" disabled name='{{title}}' class="form-control" id="insert_{{title}}" placeholder="New {{title}}">
      {% else %}
      <input type="text" autofocus name='{{title}}' class="form-control" id="insert_{{title}}" placeholder="New {{title}}">
      {% endif %}
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Add {{title}}</button>
  </div>
      {% if delete is false %}
  <div class="col-auto">
    <button type="submit" formaction='/{{title}}/remove' class="btn btn-danger mb-3">Remove</button>
  </div>
      {% endif %}
</form>


{% endblock %}
